@{
  Layout = "_Layout";
}

<h1> Welcome to Tamatucci!</h1>
@* video goes here *@
<h3><a href='/tamatuccis'>View all your TamaTucci's</a></h3>
<h3><a href="/tamatuccis/new">Add a new TamaTucci</a></h3>