
@using TamaTucci.Models;

<h1>Here are all your TamaTucci's</h1>
@if (Model.Count == 0)
{
  <p>There are no items in the list.</p>
}
<ul>
  @foreach (Tucci tucci in Model)
  {
    <li><a href='/tamatuccis/@tucci.Id'>@tucci.TucciName</a></li>
     
  }
</ul>

<a href="/tamatuccis/new">Add a new item.</a>

<form action="/tamatuccis/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>