@{
  Layout = "_Layout";
}



  
<form action="/tamatuccis" method="post">
  <label for="newTucci">Add a new TamaTucci</label>
  <input id="newTucci" name="tucciName" type="text">
  <button type="submit">Submit</button>
</form>