@{
  Layout = "_Layout";
}

<h2>Here's your @Model.TucciName</h2> 


<a href='/tamatuccis'>Play with other TamaTucci's</a>
<a href=''>Play with your @Model.TucciName</a>
<a href=''>Feed your @Model.TucciName</a>
<a href=''>Put your @Model.TucciName to bed</a>