@{
  Layout = "_Layout";
}

<h1>Your Current List of Tucci's </h1>

<h2>@Model["tucci"].TucciName</h2> 
@* TODO - rename item *@


@* <a href='/categories/@Model["category"].Id/items/new'>Add another item</a>
<a href='/categories'>View all categories</a> *@